.AppContainer {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.box-container {
    display: flex;
    flex-direction: column;
    width: 35vh;
    height: 60vh; 
}
.top-box, .bottom-box {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid darkgreen;
    background-color: white;
}
.top-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.bottom-box .input-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin: 10px 0;
}

.bottom-box label {
    margin-bottom: 5px; 
    text-align: left; 
}

.bottom-box input[type="text"],
.bottom-box input[type="password"],
.bottom-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.bottom-box input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.bottom-box input[type="submit"]:hover {
    background-color: #45a049;
}